@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-neutral-900 text-neutral-300
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(64 64 64);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(64 64 64) inset;
  box-shadow: 0 0 0px 1000px rgb(64 64 64) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

body {
  @apply scrollbar-thin scrollbar-thumb-neutral-500 scrollbar-thumb-rounded-full
}